@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Rubik', sans-serif;
}
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-decoration,
input[type='search']::-webkit-search-cancel-button {
  display: none;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
  margin: 0;
}
.Grey {
  background-color: grey;
}
.Green {
  background-color: #16a34a;
}
.Red {
  background-color: #b91c1c;
}
.Yellow {
  background-color: #eab308;
}
.Orange {
  background-color: #c2410c;
}
.Syan {
  background-color: #3b82f6;
}
.Blue {
  background-color: #1e3a8a;
}
.Violet {
  background-color: #6d28d9;
}
.Pink {
  background-color: #db2777;
}
.White {
  background-color: white;
}
.Black {
  background-color: black;
}
.snap-x ::-webkit-scrollbar {
  display: none;
}

.snap-x {
  scrollbar-width: none;
}
.line {
  text-align: center;
  opacity: 1;
}

.line::after {
  opacity: 1;
  content: '';
  display: block;
  width: auto;
  height: 2px;
  position: relative;
  background-color: #e9e9e9;
  align-self: center;
  margin-top: 5px;
}
.shop {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moveIn {
  animation: moveIn 2s ease-in-out 0s;
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.getOut {
  animation: getOut 0.7s;
  display: none !important;
  background-color: transparent !important;
}

.getIn {
  animation: getIn 0.4s;
  display: flex !important;
  transition: transform 1s;
}

.onLoad {
  display: block;
  animation: getIn 0.7s;
}

@keyframes getIn {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes getOut {
  0% {
    display: block;
    opacity: 1;
    transform: translateY(0rem);
  }

  100% {
    display: none;
    opacity: 0;
    transform: translateY(3rem);
  }
}
.img {
  object-fit: cover;
  filter: brightness(0.7) grayscale(1) contrast(0.9);
}

.SeenList {
  background-color: #3636366b;
  fill: #3636366b;
}
.accountinput {
  background: transparent;
  width: 100%;
  border: 1px solid #6665656b;
  border-radius: 0.25rem;
  padding: 0.8rem;
  outline: none;
}
.accountinput:focus {
  border: 1px solid white;
  outline: white;
}
.button {
  border: 1px solid #3636366b;
  text-align: center;
  width: 100%;
}

.button:hover {
  background: black;
  transition: all ease 0.6s;
}
.block {
  display: block !important;
}

.goRight {
  display: block !important;
  animation: goRight 0.5s;
}

.getBlock {
  display: block !important;
  animation: getBlock 0.5s;
}

@keyframes getBlock {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.goLeft {
  display: block !important;
  animation: goLeft 0.5s;
}

@keyframes goLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes goRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.getTop {
  display: flex !important;
  animation: getTop 0.5s;
}
@keyframes getTop {
  0% {
    transform: translateY(-100%);
    transition:
      transform 1s,
      opacity 0.5s;
  }
  100% {
    transform: translateY(0%);
    transition:
      transform 1s,
      opacity 0.5s;
  }
}
.getTopMss {
  display: block !important;
  animation: getTopMss 0.5s;
}
@keyframes getTopMss {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.rotate {
  transition: transform 0.3s;
  transform: rotate(0deg);
}

.rotate:hover {
  transition: transform 0.3s;
  transform: rotate(270deg);
}
.blured {
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.5);
}

.opacity {
  opacity: 0.3;
}

.opacity:hover {
  opacity: 1;
  transition: opacity 1.2s;
}
